
h1 {
    font-size: 50px;
    font:italic small-caps bold 80px/2 cursive;
}

body {
    font-size: 50px;
    background-color: #9BC2D1;
}

.nextButton {
    border-radius: 5px;
    background-color: #FFB5C0;
    border-width: 1px;
}