
.container{
    font: italic small-caps bold 16px/2 cursive;
    padding-top: 10%;
    font-size:50px;
}
.container p{
    font-size:40px;
    font-weight: normal;
}
.container h1 {
    font-weight:bold;
    
}

button {
      padding: 3px 10px;
      font-size: 5px;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      transition: 0.2s;
      position: absolute;
      width: 400px;
      overflow: hidden;
      height: 200px; 
    }

    #yes {
      background-color: #28a745;
      color: white;
      left: 20px;
      top: 40px;
    }

    #no {
      background-color: #dc3545;
      color: white;
      right: 20px;
      top: 40px;
    }